.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 32px;
    color: red;
    margin-bottom: 30px;
    text-align: center;
}

.donation-history {
    display: grid;
    grid-gap: 20px;
}

.donation-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.donation-details {
    margin-bottom: 10px;
}

.donation-details h3 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
}

.donation-details p {
    margin-bottom: 5px;
    font-size: 16px;
}

.no-donations {
    text-align: center;
    color: #666;
    font-style: italic;
}
